a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
a:hover {
  cursor: pointer;
}
* {
  padding: 0px;
  margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
.container {
  width: 100%;
  max-width: 1364px;
  margin: 0 auto;
  padding: 0 24px;
}
$orang: #fe461c;
$white: #ffffff;
$bagraond: #24263b;
$bagraond_two: #1f2235;
@mixin batton_clik {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $white;
  background-color: $orang;
  border-radius: 4px;
  border: 2px solid $orang;
}
@mixin bag_button {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: $bagraond;
  border: 2px solid $bagraond;
  box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
}
// header
.title_nav {
  background-color: #1f2235;
}
.nav_text {
  font-family: 'Outfit', monospace;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  &:hover {
    color: $orang;
  }
}
.buttom_text {
  @include batton_clik;
  width: 152px;
  height: 50px;
}
//title_hero
.title_hero {
  background-color: #1f2235;
}
.hero_smal_text {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 900;
}
.hero_text {
  font-family: 'Outfit', sans-serif;
  color: $white;
  font-size: 64px;
  font-weight: 600;
  samp {
    color: $orang;
  }
}
.hero_text_down {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 500;
}
.button_hire {
  @include batton_clik;
  width: 160px;
  height: 50px;
}
.button_cv {
  background-color: transparent;
  border: 2px solid $white;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $white;
}
//title_contacts
.title_contacts {
  background-color: $bagraond;
}
.button_title {
  @include bag_button;
  width: 115px;
  height: 36px;
}
.title_contacts_text {
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 300;
  color: $white;
}
.title_contacts_hero {
  font-family: 'Outfit', sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: $white;
}
.contact_text {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.contact_accent {
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 300;
  color: $white;
}
.button_contact {
  @include batton_clik;
  width: 160px;
  height: 56px;
}
//title_portfolio
.title_portfolio {
  background-color: $bagraond_two;
}
.hero_portfolio {
  color: $white;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
}
.portfolio_text {
  color: $white;
  font-family: 'Montserrat', monospace;
  font-size: 16px;
  font-weight: 600;
}
.img_text {
  color: $white;
  font-family: 'Montserrat', monospace;
  font-size: 24px;
  font-weight: 600;
}
.img_paragraf {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
//title_work
.title_work {
  background-color: $bagraond;
}
.button_work {
  @include bag_button;
  width: 172px;
  height: 36px;
}
.hero_work {
  font-family: 'Outfit', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: $white;
}
.card_serwis {
  background-color: $bagraond_two;
  border-radius: 8px;
}
.hero_card {
  color: #ffffff;
  font-family: 'Outfit', sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.card_text {
  color: #ffffff;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 300;
}
.buttom_arow {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;

  img {
    background-color: $bagraond;
    border-radius: 50%;
    padding: 12px 12px;
    border: 3px solid $bagraond;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
    &:hover {
      background-color: $orang;
    }
  }
}
//title_skill
.title_skill {
  background-color: $bagraond_two;
}
.button_skill {
  @include bag_button;
  width: 97px;
  height: 36px;
}
.hero_skill {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.buttom_design {
  @include bag_button;
  width: 90px;
  height: 36px;
  &:hover {
    background-color: $orang;
  }
}
.buttom_experience {
  @include bag_button;
  width: 121px;
  height: 36px;
  &:hover {
    background-color: $orang;
  }
}
.buttom_education {
  @include bag_button;
  width: 113px;
  height: 36px;
  &:hover {
    background-color: $orang;
  }
}
.skill_text {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.skill_numer {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
//title_coments
.title_coments {
  background-color: $bagraond;
}
.buttom_testimonial {
  @include bag_button;
  width: 161px;
  height: 36px;
}
.subtitle_coments {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.coments_subtitle {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-weight: 600;
  font-size: 24px;
}
.coments_table_text {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 300;
}
.coments_text {
  color: $white;
  font-family: 'Roboto' sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.table_coments {
  background-color: $bagraond_two;
}
//title_blog
.title_blog {
  background-color: $bagraond_two;
}
.button_blog {
  @include bag_button;
  width: 133px;
  height: 36px;
}
.hero_blog {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.blog_comit {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 500;
}
.subtitle_blog {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  font-weight: 600;
}
.blog_text {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 300;
}
//title_search
.title_search {
  background-color: $bagraond;
}
.Subscribe_Now {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 24px;
  font-weight: 400;
}
.subtitle_search {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 55px;
  font-weight: 700;
}
.search_text {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 18px;
  font-weight: 400;
}
//title_all_data
.title_all_data {
  background-color: $bagraond_two;
}
.buttom_all {
  @include bag_button;
  width: 133px;
  height: 36px;
}
.all_hero {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.subtitle_contact {
  color: $white;
  font-family: 'Outfit', sans-serif;
  font-size: 25px;
  font-weight: 600;
}
.link_adress {
  color: $white;
  font-family: 'Public Sans', monospace;
  font-size: 16px;
  font-weight: 300;
}
footer {
  background-color: $bagraond;
  p {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: $white;
    font-weight: 400;
  }
}
