a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:hover {
  cursor: pointer;
}

* {
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  width: 100%;
  max-width: 1418px;
  margin: 0 auto;
  padding: 0 24px;
}

.title_nav {
  background-color: #1f2235;
}

.nav_text {
  font-family: "Outfit", monospace;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.nav_text:hover {
  color: #fe461c;
}

.buttom_text {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fe461c;
  border-radius: 4px;
  border: 2px solid #fe461c;
  width: 152px;
  height: 50px;
}

.header_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 50px;
  padding-top: 22px;
  padding-right: 200px;
}

.nav_flex_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.button_as_cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.hero_colum {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 263px;
}

.hero_text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero_text_flex img {
  padding-top: 170px;
  padding-bottom: 24px;
}

.title_hero {
  background-color: #1f2235;
}

.hero_smal_text {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 16px;
}

.hero_text {
  font-family: "Outfit", sans-serif;
  color: #ffffff;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  margin-right: -77px;
  margin-bottom: 31px;
}
.hero_text samp {
  color: #fe461c;
}

.hero_text_down {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.7;
  margin-bottom: 36px;
}

.button_hire {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fe461c;
  border-radius: 4px;
  border: 2px solid #fe461c;
  width: 160px;
  height: 50px;
}

.button_cv {
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 150px;
  height: 50px;
  border-radius: 4px;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.contact_blokk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
}

.line_text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.contacts_colum_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 59px;
}
.contact_flex img {
  padding-top: 270px;
  padding-bottom: 33px;
}

.title_contacts {
  background-color: #24263b;
}

.button_title {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 115px;
  height: 36px;
  margin-bottom: 19px;
  margin-top: 163px;
}

.title_contacts_text {
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 20px;
}

.title_contacts_hero {
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 15px;
}

.contact_text {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.contact_accent {
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.button_contact {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fe461c;
  border-radius: 4px;
  border: 2px solid #fe461c;
  width: 160px;
  height: 56px;
}

.foto_colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-bottom: 100px;
}

.foto_flex {
  position: relative;
  max-width: 424px;
}
.foto_flex img {
  margin-bottom: 24px;
}

.foto_text_f {
  top: 55%;
  left: 10%;
  -webkit-transform: translateX(-50% -50%);
      -ms-transform: translateX(-50% -50%);
          transform: translateX(-50% -50%);
  position: absolute;
}

.portfolio_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio_text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  padding-bottom: 36px;
}

.title_portfolio {
  background-color: #1f2235;
}

.hero_portfolio {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  margin-bottom: 54px;
}

.portfolio_text {
  color: #ffffff;
  font-family: "Montserrat", monospace;
  font-size: 16px;
  font-weight: 600;
}

.img_text {
  color: #ffffff;
  font-family: "Montserrat", monospace;
  font-size: 24px;
  font-weight: 600;
}

.img_paragraf {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.work_hero_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 55px;
}

.work_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 31px;
  padding-bottom: 120px;
}

.title_work {
  background-color: #24263b;
}

.button_work {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 172px;
  height: 36px;
  margin-top: 120px;
  margin-bottom: 29px;
}

.hero_work {
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
}

.card_serwis {
  background-color: #1f2235;
  border-radius: 8px;
  padding: 41px 39px;
  width: 253px;
  height: 260px;
}
.card_serwis img {
  margin-bottom: 24px;
}

.hero_card {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 27px;
}

.card_text {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 37px;
}

.buttom_arow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
}
.buttom_arow img {
  background-color: #24263b;
  border-radius: 50%;
  padding: 12px 12px;
  border: 3px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
}
.buttom_arow img:hover {
  background-color: #fe461c;
}

.skill_text_colum {
  padding-bottom: 43px;
}

.sfill_text_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.frame_b {
  padding-top: 265px;
  padding-bottom: 36px;
}

.button_skil_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding-bottom: 39px;
}

.title_skill_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 76px;
}

.skill_blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 123px;
}

.title_skill {
  background-color: #1f2235;
}

.button_skill {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 97px;
  height: 36px;
  margin-top: 120px;
  margin-bottom: 16px;
}

.hero_skill {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 47px;
}

.buttom_design {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 90px;
  height: 36px;
}
.buttom_design:hover {
  background-color: #fe461c;
}

.buttom_experience {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 121px;
  height: 36px;
}
.buttom_experience:hover {
  background-color: #fe461c;
}

.buttom_education {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 113px;
  height: 36px;
}
.buttom_education:hover {
  background-color: #fe461c;
}

.skill_text {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.skill_numer {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.coments_flex_colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  padding-bottom: 49px;
  gap: 24px;
}

.quotes_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4px;
}

.coments_line {
  border: none;
  height: 1px;
  background-color: #ffffff;
  width: 240px;
  margin-bottom: 15px;
}

.coments_colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.title_coments {
  background-color: #24263b;
}

.buttom_testimonial {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 161px;
  height: 36px;
}

.subtitle_coments {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.coments_subtitle {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.coments_table_text {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 14px;
}

.coments_text {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.table_coments {
  position: relative;
  padding: 29px 45px;
  width: 337px;
  height: 171px;
  background-color: #1f2235;
  margin-bottom: 45px;
}

.table_coments:after {
  content: "";
  position: absolute;
  bottom: -48px;
  left: 0px;
  width: 0;
  height: 0;
  border-right: 80px solid transparent;
  border-top: 50px solid #1f2235;
}

.comit_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-bottom: 24px;
}

.blog_title_text {
  gap: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
  padding-bottom: 61px;
}

.table_blog_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}

.img_frame {
  margin-bottom: 26px;
}

.blog_colum_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title_blog {
  background-color: #1f2235;
}

.button_blog {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 133px;
  height: 36px;
}

.hero_blog {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.blog_comit {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 500;
}

.subtitle_blog {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog_text {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 300;
}

.search_mr {
  padding-top: 120px;
  padding-bottom: 120px;
}

.search_box {
  border-radius: 8px;
  padding: 130px 80px;
  background-color: #1f2235;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 161px;
}

.email_but {
  border: none;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.button_sub {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 23px 53px;
  color: #ffffff;
  background-color: #fe461c;
  border-radius: 80px;
  border: 2px solid #fe461c;
}

.from_subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border-radius: 80px;
  padding: 20px;
  padding-right: 0;
  height: 30px;
  width: 530px;
}

.title_search {
  background-color: #24263b;
}

.Subscribe_Now {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 9px;
}

.subtitle_search {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 12px;
}

.search_text {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 18px;
  font-weight: 400;
}

.maps_b {
  width: 1169px;
  height: 550px;
  margin-bottom: 120px;
}

.hero_title_all_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
  padding-bottom: 46px;
  padding-top: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_all_blog {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #fe461c;
  border-radius: 4px;
  border: 2px solid #fe461c;
  width: 220px;
  height: 56px;
}

.subtitle_text_all_blog {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 28px;
}

.all_data_block_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 101px;
  margin-bottom: 80px;
}

.all_data_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.box_all_flex {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  padding: 24px;
  background-color: #24263b;
  max-width: 360px;
}

.icon_button {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: none;
  background-color: #24263b;
  border-radius: 50%;
  padding: 15px 15px;
  border: 3px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
}
.icon_button img {
  height: 60%;
  width: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 7px;
}

.balank_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 18px;
}

.message_in {
  font-size: 16px;
  color: #70717b;
  border: none;
  outline: none;
  background-color: transparent;
}

.blank_message {
  height: 210px;
  width: 700px;
  background-color: #24263b;
  padding: 15px 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-bottom: 40px;
}

.blank_email {
  background-color: #24263b;
  padding: 16px 29px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  max-width: 295px;
}

.email_in {
  font-size: 16px;
  color: #70717b;
  border: none;
  outline: none;
  background-color: transparent;
}

.balank_name {
  background-color: #24263b;
  padding: 16px 29px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  max-width: 295px;
}

.name_in {
  font-size: 16px;
  color: #70717b;
  border: none;
  outline: none;
  background-color: transparent;
}

.title_all_data {
  background-color: #1f2235;
}

.buttom_all {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #24263b;
  border: 2px solid #24263b;
  -webkit-box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
          box-shadow: 0 5px 10px rgba(1, 1, 1, 0.2);
  color: #ffffff;
  letter-spacing: 2px;
  width: 133px;
  height: 36px;
}

.all_hero {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 36px;
  font-weight: 700;
}

.subtitle_contact {
  color: #ffffff;
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.link_adress {
  color: #ffffff;
  font-family: "Public Sans", monospace;
  font-size: 16px;
  font-weight: 300;
}

footer {
  background-color: #24263b;
}
footer p {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 35px;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}/*# sourceMappingURL=style.css.map */